/* Comments
   ========================================================================== */

.comments {
  background-color: $brand-white;
}

.comment__listing {
  list-style: none;
  padding-left: 0;
  margin: 0;
}